body {
      background-color: rgb(54, 69, 60);
      width: 85%;
      height: 85%;
      border-width: 3px solid;
      box-shadow: 10px 10px 50px black;
      border-radius: 40px;
      margin: 1% 7%;
      padding: 2px 1px;

}

#signup_head {
      margin-left: 27%;
      width: 45%;
      height: 7%;
      text-align: center;
      box-shadow: 2px 6px 10px black;
}

.lbl{
     color: white;
     width: 15%;
     height: 2%;
     text-shadow: 2px 2px black;
     position: absolute;
     font-weight: bold;
     left: 12%;

 }

 .lbl2{
     color: white;
     width: 15%;
     height: 2%;
     text-shadow: 2px 2px black;
     position: absolute;
     font-weight: bold;
     left: 59%;

 }

.txt {
     width: 14%;
     height: 3.25%;
     position: absolute;
     left: 23%;
     top: 18%
     font-weight: bold;
     border-radius: 10px;

}

.txt2 {
     width: 14%;
     height: 3.20%;
     position: absolute;
     font-weight: bold;
     border-radius: 10px;
     left: 71%;
     top: 10%
     margin: 1%;
}

.select_tab{
     font-family: Times New Roman;
     width: 8%;
     text-align: center;
     padding: .4% .5%;
     border-radius: 10px;
     position: relative;
     top: 18%;
     left: 19%;
     font-weight: bolder;
     font-size:  100%;
     margin top: 1%;

}

.rdo_label{
     position: relative;
     left: 77%;
     color: white;
     text-shadow: 2px 2px black;
     font-weight: bold;
}

.rdo_label2{
     position: relative;
     left: 79.50%;
     color: white;
     text-shadow: 2px 2px black;
     font-weight: bold;
}

.rdo{
     position: relative;
     left: 76.5%;
     color: black;

}
.rdo2{
     position: relative;
     left: 79%;
     color: black;
     background-color: black;

}

#dob{
    font-weight: bold;
    font-size: 15px;
    width: 11.6%;
    border-radius: 10px;
    padding: 1.5px 1px;
    position: relative;
    left: 75%;
}


button{
      width: 8%;
      height: 6%;
      padding: 1% 1%;
      position: relative;
      top: 80%;
      left: 42%;
      margin-top: 5%;
      margin-bottom: 3%;
      font-weight: bold;
      box-shadow: 2px 2px 2px black;
}