<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title>Vaidyaratnam</title>

</head>
<body>
    <div id="homepage_head">
        <h1> Vaidyaratnam Ayurveda College & Hospital </h1>
    </div>
    <div id="login_frame">
       <img id="emplom" src="{{ url_for('static', filename='/images/HomePage/emplom.png') }}"/><br>
         <form>
            <input type="text"  id="username" name="user"><br>
            <input type="password" id="password" name="passwd"><br>
            <button type="submit" id="login_btn" name="login">Login</button>
            <button type="submit" id="signup_btn" formaction="{{ url_for('_signup_form_personal_info_') }}" name="signup"> Sign Up </button>
         </form>
    </div>
    <div id="homepage_footer">
        <p><marquee scrollamount="6" >!!! This is a Demo WebApp, please co-operate with us....!!! if you have any queries please contact IT Administrator... !!! MUHAMMED SHAFI- 9633442041</marquee></p>
    </div>




</body>
</html>