<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='signup_addr_info.css') }}">
    <title>Registration Address</title>

</head>
<body>
    {%  extends 'signup_personal_info.html' %}
      <div id="signup_addr_head" >
        {% block heading %}
           <h2 style="color: white;  text-shadow: 2px 2px 2px grey; text"> User Registration </h2>
        {% endblock %}
      </div>
      <div id="signup_addr_content">
        {% block content %}
          <h3 style="text-align: center; color: white; margin: 4%;"> Address Details</h3><br>
          <span>
              <h4> Temporary Address </h4>
              <label for='T-H_Name' id='T-HName_label' class="lbl3"> House Name / No : </label>
              <input type="text" id="T-H_Name" name="Place_Name_input" class="txt3" ><br><br>
              <label for='T-Pl_Name' id='T-Pl_name_label' class="lbl3"> Place : </label>
              <input type="text" id="T-Pl_Name" name="Pl_ame_input" class="txt3" ><br><br>
              <label for='T-Post_Name' id='T-Post_Name_label' class="lbl3"> Post office: </label>
              <input type="text" id="T-Post_Name" name="T-Post_Name_input" class="txt3" ><br><br>
              <label for='T-Pin_Code' id='T-Pin_code_label' class="lbl3"> Pin Code : </label>
              <input type="text" id="T-Pin_Code" name="T-Pin_Code_input" class="txt3" ><br><br>
              <label for='T-Village_Name' id='T-Village_label' class="lbl3"> Village : </label>
              <input type="text" id="T-Village_Name" name="T-Village_input" class="txt3" ><br><br>
              <label for='T-District_Name' id='T-District_label' class="lbl3"> District : </label>
              <input type="text" id="T-District_Name" name="T-District_input" class="txt3" ><br><br>
              <label for='T-MObile_No' id='T-Mobile_No_label' class="lbl3"> Mobile No : </label>
              <input type="text" id="T-Mobile_No" name="T-Mobile_No_input" class="txt3" ><br><br>
              <label for='T-Email_Id' id='T-Email_label' class="lbl3"> Email ID : </label>
              <input type="text" id="T-Email_Id" name="T-Email_input" class="txt3" ><br><br>
          </span>
          <span>
              <h4> Permanent Address </h4>
              <label for='H_Name' id='HName_label' class="lbl4"> House Name / No : </label>
              <input type="text" id="H_Name" name="Place_Name_input" class="txt4" ><br><br>
              <label for='Pl_Name' id='Pl_name_label' class="lbl4"> Place : </label>
              <input type="text" id="Pl_Name" name="Pl_ame_input" class="txt4" ><br><br>
              <label for='Post_Name' id='Post_Name_label' class="lbl4"> Post office: </label>
              <input type="text" id="Post_Name" name="Post_Name_input" class="txt4" ><br><br>
              <label for='Pin_Code' id='Pin_code_label' class="lbl4"> Pin Code : </label>
              <input type="text" id="Pin_Code" name="Pin_Code_input" class="txt4" ><br><br>
              <label for='Village_Name' id='Village_label' class="lbl4"> Village : </label>
              <input type="text" id="Village_Name" name="Village_input" class="txt4" ><br><br>
              <label for='District_Name' id='District_label' class="lbl4"> District : </label>
              <input type="text" id="District_Name" name="District_input" class="txt4" ><br><br>
              <label for='MObile_No' id='Mobile_No_label' class="lbl4"> Mobile No : </label>
              <input type="text" id="Mobile_No" name="Mobile_No_input" class="txt4" ><br><br>
              <label for='Email_Id' id='Email_label' class="lbl4"> Email ID : </label>
              <input type="text" id="Email_Id" name="Email_input" class="txt4" ><br><br>
          </span>
        {% endblock %}
      </div>
      <div>
         {% block btn_control %}
            <span>
               <button type="submit" id="back_to_personal" class="btn_signup_addr" formaction="{{ url_for('home_page_') }}" formmethod="get" name="back_btn"> Back </button>
            </span>
            <span>
               <button type="submit" id="next_to_qualification" class="btn_signup_addr"  name="next_btn"> Next </button>
            </span>
         {% endblock %}
      </div>
</body>
</html>