<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}">
</head>
<body>
   <main>
       <article>
           <section>
               <div id="signup_head" >
                   <h2 style="color: white;  text-shadow: 2px 2px 2px grey; text"> User Registration </h2>
               </div>
               <div id="signup_content">
                 <form>
                   <h3 style="text-align: center; color: white; margin: 4%;"> Personal Details</h3><br>
                   <label for='fname' id='fname_label' class="lbl"> First Name : </label>
                   <input type="text" id="fname" name="fname_input" class="txt">

                   <label for='dob' id='dob_label' class="lbl2"> Date of Birth / </label>
                   <input type="date" id="dob" name="dob_input" class="dt">

                   <label for='age' id='age_label' class="lbl2" style="left: 66.8%;"> Age : </label>
                   <input type="text" id="age" name="dob_input" class="txt2" style="width: 2%; left: 81.7%;"><br><br><br>

                   <label for='lname' id='lname_label' class="lbl"> Last Name : </label>
                   <input type="text" id='lname' name="lname_input" class="txt">
                   <label for='pob' id='pob_label' class="lbl2"> Place of Birth : </label>
                   <input type="text" id='pob' name="pob_input" class="txt2"><br><br><br>
                   <label for='fath_name' id='fath_name_label' class="lbl"> Father's Name : </label>
                   <input type="text" id="fath_name" name="fath_name_input" class="txt">
                   <label for='bloodgrp' id='bloodgrp_label' class="lbl2"> Blood Group : </label>
                   <select id="bloodgrp" name="bloodgrp_input" class="select_tab" style="left: 75.40%; width: 16.75%; padding: .3% .1%;">
                     <option> Select </option>
                         <option value="a+"> A+ </option>
                         <option value="b+"> B+ </option>
                         <option value="ab+"> AB+ </option>
                         <option value="o+"> O+ </option>
                         <option value="a-"> A- </option>
                         <option value="b-"> B- </option>
                         <option value="ab-"> AB- </option>
                         <option value="o-"> O- </option>
                   </select><br><br><br>
                   <label for='moth_name' id='moth_name_labl' class="lbl"> Mother's Name : </label>
                   <input type="text" id="moth_name" name="moth_name_input" class="txt">

                   <label id='gender_label' class="lbl2"> Gender : </label>
                   <input type="radio" id="gender_male" name="gender_input_male" class="rdo" >
                   <label for="gender_male" id='gender_male_label' class="rdo_label"> Male </label>
                   <input type="radio"  id="gender_female" name="gender_input_female" class="rdo2" >
                    <label for="gender_female" id='gender_female_label' class="rdo_label2"> Female </label><br><br><br>

                   <label for='religion' id='religion_label' class="lbl" > Religion / </label>
                     <select name="religion_select" id="religion" class="select_tab">
                         <option> Select </option>
                         <option value="ISLAM">Islam</option>
                         <option value="HINDU">Hindu</option>
                         <option value="CHRISTIAN">Christian</option>
                         <option value="OTHERS">Others</option>
                     </select>

                   <label for='caste' id='caste_label' class="lbl" style="left: 21%;"> Caste : </label>
                      <select name="caste_select" id="caste" class="select_tab" style="left: 23.5%;">
                         <option> Select </option>
                         <option value="MUSLIM"> Muslim </option>
                         <option value="NAIR"> Nair</option>
                         <option value="EZHAVA"> Ezhava </option>
                         <option value="OTHERs">Others</option>
                      </select>

                   <label id='maritalstatus_label' class="lbl2"> Marital Status : </label>
                   <input type="radio" id="maritalstats_single" name="rdo_single" class="rdo" style="left: 58.9%;">
                   <label for='maritalstats_single' id='maritalstatus_Single_label' class="rdo_label" style="left: 59.25%;"> Single </label>
                   <input type="radio" id="maritalstats_married" name="rdo_married" class="rdo2" style="left: 60.2%;" >
                   <label for="maritalstats_married" id='maritalstatus_married_label' class="rdo_label2" style="left: 60.3%;"> Married </label><br><br><br>

                   <button type="submit" id="back" formaction="{{ url_for('home_page_') }}" name="back_btn"> Back</button>
                   <button type="submit" id="next" name="next_btn"> Next </button>
                </form>
               </div>
           </section>
       </article>
   </main>

</body>
</html>