<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      .left, .right {
                    height: 50%;
                    width: 50%;
                    position: relative;
                    overflow-x: hidden;
                    padding-top: 20px;
      }
      .left {
             left: 0%;
             background-color: green;
      }
      .right {
              left: 50%;
              background-color: red;
      }
    </style>
</head>
<body>

     <div class="left">
       <input type="text"><br>
       <input type="text"><br>
       <input type="text"><br>
     </div>
      <div class="right">
         <input type="button" > Btn 1 </button><br>
         <input type="button" > Btn 2 </button><br>
         <input type="button" > Btn 3 </button><br>
      </div>



</body>
</html>